// 份数
$copies : 20;

//一份所占的像素
$piece : 20;


@media screen and (width: 320px) {
    html {
        font-size: (320px / $copies);
    }
}

@media screen and (width: 360px) {
    html {
        font-size: (360px / $copies);
    }
}


@media screen and (width: 375px) {
    html {
        font-size: (375px / $copies);
    }
}

@media screen and (width: 411px) {
    html {
        font-size: (411px / $copies);
    }
}


@media screen and (width: 1536px) {
    html {
        font-size: (1536px / $copies);
    }
}


/*  头部  */
header {
    float: left;
    width: 100%;
    height: (45rem / $piece);
    border-bottom: 1px solid #eeeeee;
}

.header-left {
    float: left;
    width: 26%;
    height: 100%;
    border-right: 1px solid #eeeeee;

    span {
        float: right;
        display: block;
        width: (70rem / $piece);
        height: (45rem / $piece);
        padding: 0 (14rem / $piece);
        line-height: (45rem / $piece);
        text-align: center;
        color: #666;
        font-weight: bold;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: (14rem / $piece);
    }
}

.header-center {
    float: left;
    width: 36%;
    height: 100%;
    border-right: 1px solid #eeeeee;
    text-align: center;
    line-height: (50rem / $piece);
    font-size: (13rem / $piece);



    a,
    span {
        font-size: (14rem / $piece);
        font-weight: bold;
        color: #666666;
    }

}

.header-right {
    float: left;
    line-height: (45rem / $piece);

    .header-right-content {
        position: relative;
        width: (110rem / $piece);
        height: (45rem / $piece);
        border-bottom: 1px solid #eeeeee;


        img {
            float: left;
            width: (16rem / $piece);
            height: (15rem / $piece);
            margin: (17rem / $piece) (7rem / $piece) 0 (15rem / $piece);
        }

        span {
            font: 12px/1.14 arial, "Microsoft YaHei";
            color: #666666;
            font-weight: bold;
        }

        i {
            font-weight: bold;
        }
    }
}

.content-language {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 1px solid #0088cc;
    background-color: #fff;
    z-index: 2;



    li {
        width: (157rem / $piece);
        height: (44rem / $piece);
        border-left: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;

        img {
            width: (16rem / $piece);
            height: (15rem / $piece);
            margin: 0 (10rem / $piece);
        }

        span {
            display: inline-block;
            padding-top: (17rem / $piece);
            color: #666666;
        }
    }
}

/*  导航栏  */
nav {
    position: relative;
    float: left;
    width: 100%;
    height: (55rem / $piece);
    box-sizing: border-box;
}

.nav-left {
    float: left;
    width: (44rem / $piece);
    height: (55rem / $piece);
    text-align: center;
    line-height: (55rem / $piece);
    font-size: (15rem / $piece);
}

.nav-center {
    position: absolute;
    float: left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: (55rem / $piece);
    width: (145rem / $piece);
    z-index: 1;

    img {
        width: (145rem / $piece);
        height: (50rem / $piece);
    }
}


.nav-right {
    float: right;
    width: (44rem / $piece);
    height: (55rem / $piece);
    text-align: center;
    line-height: (55rem / $piece);
    font-size: (15rem / $piece);
    z-index: 1;


    .icon-line-cross {
        display: none;
    }

    .search {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        padding: (12rem / $piece) (80rem / $piece) (12rem / $piece) 0;
        width: (335rem / $piece);
        height: (55rem / $piece);
        background-color: transparent;
        color: #333;
        font-weight: 700;
        margin-top: 0 !important;
        font-family: Raleway, sans-serif;
        letter-spacing: 2px;
        font-size: 20px;
        margin-left: (17rem / $piece);
        box-sizing: border-box;
        border: 0px;
    }
}

.nav-list {
    // position: absolute;
    display: none;
    float: left;
    width: 100%;
    height: (208rem / $piece);
    padding: 0 (27rem / $piece);
    margin: 0;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    background-color: #ffffff;


    li {
        width: 100%;
        height: (52rem / $piece);
        border-bottom: 1px solid #eeeeee;


        a {
            font-size: (18rem / $piece);
            padding-left: (7rem / $piece);
            color: #444;
            line-height: (52rem / $piece);
            font-family: Raleway, sans-serif;
            font-weight: bold;
        }

        i {
            float: right;
            padding-right: (15rem / $piece);
            line-height: (52rem / $piece);
            font-size: (18rem / $piece);
            font-weight: bold;
        }
    }
}


main {
    float: left;
    width: 100%;
    background-color: #f4f4f4;
    margin-bottom: (85rem / $piece);

    .container {
        float: left;
        width: 100%;
        height: 100%;
        padding: 0 (12rem / $piece);
    }
}




/* 轮播图  */
.swiper-container {
    float: left;
    width: (376rem / $piece);
    height: (100rem / $piece);
    margin: (15rem / $piece) 0;

    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: (100rem / $piece);
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .swiper-pagination-bullet {
        background-color: #ffffff;
    }
}

.news {
    float: left;
    width: 100%;
    padding: 0 (15rem / $piece);
    background-color: #ebebeb;


    h3 {
        display: inline-block;
        margin: 0;
        padding: (6rem / $piece) 0;
        border-bottom: 2px solid #cccccc;
        margin: (10rem / $piece) 0;
        text-align: center;
        font-family: Lato, sans-serif;
        font-size: (16rem / $piece);
        color: #494444;
        font-weight: 400;
    }

    .home-article {
        float: left;
        width: 100%;
        margin: (17rem / $piece) 0 (7rem / $piece);
        background-color: #ffffff;

        img {
            width: 100%;
            height: (185rem / $piece);
        }

    }
}

.article-intro {
    width: 100%;
    padding: (15rem / $piece) (20rem / $piece);

    h4 {
        width: 100%;
        margin: 0;
        margin-bottom: (13rem / $piece);
        font-family: 'Bitter', sans-serif;
        line-height: (25rem / $piece);
        color: #444;
        font-weight: bold;
    }

    p {
        width: 100%;
        margin: 0;
        margin-bottom: (13rem / $piece);
        line-height: (30rem / $piece);
        font-family: 'Source Sans Pro',sans-serif;
        font-size: (15rem / $piece);
        font-weight: 300;


        img {
            float: left;
            width: (22rem / $piece) !important;
            height: (22rem / $piece) !important;
            border-radius: 50%;
            margin-right: (8rem / $piece);
        }

        span {
            font-family: Raleway, sans-serif;
            font-weight: 400;
        }
    }
}

.news-bottom{
    float: left;
    width: 100%;
    height: (60rem / $piece);
    padding: (10rem / $piece) (14rem / $piece);
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 600;
    color: #AAA;
    text-align: center;
    box-sizing: border-box;
    line-height: (60rem / $piece);
}

.long{
    width: 100%;
    height: (2rem / $piece);
}


.game-byuser{
    float: left;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: (33rem / $piece);

    h3{
        display: inline-block;
        margin: 0;
        padding: (6rem / $piece) 0;
        border-bottom: 2px solid #cccccc;
        margin: (10rem / $piece) (16rem / $piece);
        text-align: center;
        font-family: Lato, sans-serif;
        font-size: (16rem / $piece);
        color: #494444;
        font-weight: 400;
    }

    a{
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 600;
        display: inline-block;
        background-color: #EEE;
        color: #AAA;
        padding: (10rem / $piece) (14rem / $piece);
        margin: 0 (110rem / $piece) (20rem / $piece);
    }
}

.home-game{
    float: left;
    width: (185rem / $piece);
    height: (160rem / $piece);
    padding: 0 (16rem / $piece);
    margin-top: (17rem / $piece);

    img{
        width: (150rem / $piece);
        height: (86rem / $piece);
    }

    h4{
        width: 100%;
        margin: (8rem / $piece) 0 (4rem / $piece);
        font-size: (16rem / $piece);
        font-family: Lato, sans-serif;
        font-weight: bold;
        color: #444;
    }

    p{
        width: 100%;
        margin: 0;
        margin-bottom: (12rem / $piece);
        font-family: 'Source Sans Pro',sans-serif;
        font-size: (15rem / $piece);
        font-weight: 300;
    }
}


.members{
    float: left;
    width: 100%;
    background-color: #e1e1e1;

    .members-container{
        width: 100%;
        height: 100%;
        padding: 0 (16rem / $piece) (12rem / $piece);
        
        h3{
            display: inline-block;
            margin: 0;
            padding: (6rem / $piece) 0;
            border-bottom: 2px solid #cccccc;
            margin: (10rem / $piece) 0;
            text-align: center;
            font-family: Lato, sans-serif;
            font-size: (16rem / $piece);
            color: #494444;
            font-weight: 400; 
        }
    }
}

.join{
    float: left;
    width: 100%;
    height: (416rem / $piece);
    padding: 0 (17rem / $piece);
    box-sizing: border-box;
    margin-bottom: (50rem / $piece);

    .join-content{
        float: left;
        width: 100%;
        height: (396rem / $piece);
        padding: (33rem / $piece) (23rem / $piece);
        margin-top: (16rem / $piece);
        background-color: #ffffff;
        
        h3{
            float: left;
            width: 100%;
            margin: 0;
            text-align: center;
            font-size: (22rem / $piece);
            font-family: Raleway, sans-serif;
            font-weight: bold;
            border: 0px;
        }

        .join-list{
            float: left;
            width: 100%;
            padding: (20rem / $piece);
        }
    }
}

.join-list li{
    height: (30rem / $piece);
    color: #888888;

    i{
        width: (24rem / $piece);
        height: (22rem / $piece);
        padding-right: (10rem / $piece);
        color: #888888;
    }
}

.login-regeister{
    float: left;
    margin-left: (60rem / $piece);
    margin-right: auto;
    width: (160rem / $piece);
    height: (50rem / $piece);
    padding: 0 (34rem / $piece);
    margin-top: (23rem / $piece);
    background-color: #59ba41;
    border-radius: 3px; 
    text-align: center;

    span{
        display: inline-block;
        font-size: (18rem / $piece);
        line-height: (50rem / $piece);
        color: #ffffff;
        font-weight: bold;
    }
}


.footer-bg{
    float:left;
    width: 100%;
    box-sizing: border-box;

    .bg{
        float:left;
        width: 100%;
        height: (330rem / $piece);
        margin-bottom: (12rem / $piece);
        
        img{
            width: 100%;
            height: (330rem / $piece);
        }
    }

}




/*  尾部  */
footer {
    float: left;
    width: 100%;
    background-color: #333333;
    border-top: 5px solid #292929;

    .container {
        padding: 0 (28rem / $piece);
    }
}

.content {
    width: 100%;
    padding: (83rem / $piece) 0;
    margin-bottom: (40rem / $piece);

    .footer-logo {
        width: (134rem / $piece);
        height: (54rem / $piece);
        margin-bottom: (33rem / $piece);
    }
}

.footer-nav {
    color: #a6a6a6;
    font-size: (15rem / $piece);
    margin-bottom: (33rem / $piece);
}

.link-icon {
    float:left;
    width: 100%;
    height: (38rem / $piece);
    margin-bottom: (30rem / $piece);

    i {
        float: left;
        display: block;
        width: (32rem / $piece);
        height: (32rem / $piece);
        border-radius: 50%;
        color: #dddddd;
        text-align: center;
        line-height: (32rem / $piece);
        border: 1px solid #b5b5b5;
        margin-right: (5rem / $piece);
    }
}


.serverId {
    width: 100%;
    height: (44rem / $piece);
    margin-bottom: (40rem / $piece);
    color: #777777;
    line-height: (62rem / $piece);
    font-size: (13rem / $piece);
}



.address{
    float: left;
    width: 100%;
    height: (150rem / $piece);
    padding: (12rem / $piece) 0;
    background-image: url(../upload/footer-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro',sans-serif !important;
    font-size: (15rem / $piece);
    color: #cccccc;
    font-weight: 100 !important;

    .long{
        float: left;
        width: 100%;
        height: (20rem / $piece);
    }
}



.attentionUs {
    float: left;
    width: 100%;
    height: (25rem / $piece);
    color: #dddddd;
    font-size: (17rem / $piece);
    letter-spacing: 2;
    font-weight: bold;
    margin-bottom: (28rem / $piece);
    font-family: PingFang SC, Lantinghei SC, OpenSans-Light, Arial, Hiragino Sans GB, Microsoft YaHei, STHeiti, WenQuanYi Micro Hei, SimSun, sans-serif;
}


.qr-code {
    position: relative;
    float: left;
    width: 100%;
    height: (150rem / $piece);
    text-align: center;
    margin-bottom: (43rem / $piece);

    img {
        width: (118rem / $piece);
        height: (118rem / $piece);
        padding: (11rem / $piece);
    }

    span {
        position: absolute;
        bottom: 5%;
        left: 28%;
        display: inline-block;
        font-size: (13rem / $piece);
        color: #a2a2a2;
        font-family: PingFang SC, Lantinghei SC, OpenSans-Light, Arial, Hiragino Sans GB, Microsoft YaHei, STHeiti, WenQuanYi Micro Hei, SimSun, sans-serif;

    }
}


.footer-nav-content {
    float: left;
    width: 100%;
    height: (235rem / $piece);
    margin-bottom: (60rem / $piece);


    li {
        height: (30rem / $piece);
        padding: (5rem / $piece);
        background-image: url(../img/widget-link-dark@2x.png);
        background-repeat: no-repeat;
        font-size: (16rem / $piece);
        color: #cccccc;
        line-height: (34rem / $piece);
    }
}


.call-we {
    float: left;
    width: 100%;
    height: (42rem / $piece);
    margin-bottom: (33rem / $piece);
    color: #adadad;
}


.username {
    float: left;
    width: 100%;
    height: (37rem / $piece);
    margin-bottom: (12rem / $piece);

    span {
        float: left;
        padding: (10rem / $piece) (12rem / $piece);
        font-size: (16rem / $piece);
        font-weight: 400;
        line-height: 1;
        text-align: center;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: #212121;

        i {
            color: #999999;
            font-size: (16rem / $piece);
        }
    }

    input {
        float: left;
        width: 88%;
        height: (37rem / $piece);
        padding: (6rem / $piece) (12rem / $piece);
        color: #999;
        background-color: rgba(0, 0, 0, .2);
        border: 1px solid #1e1e1e;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}


.email {
    float: left;
    width: 100%;
    height: (37rem / $piece);
    margin-bottom: (12rem / $piece);

    span {
        float: left;
        padding: (10rem / $piece) (12rem / $piece);
        font-size: (16rem / $piece);
        font-weight: 400;
        line-height: 1;
        text-align: center;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: #212121;

        i {
            color: #999999;
            font-size: (16rem / $piece);
        }
    }

    input {
        float: left;
        width: 88%;
        height: (37rem / $piece);
        padding: (6rem / $piece) (12rem / $piece);
        color: #999;
        background-color: #292929;
        border: 1px solid #1e1e1e;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.message {
    display: block;
    width: 100%;
    height: (87rem / $piece);
    padding: (6rem / $piece) (12rem / $piece);
    margin-bottom: (12rem / $piece);
    box-sizing: border-box;
    border: 1px solid #1e1e1e;
    color: #999;
    background-color: #292929;
    border-radius: 4px;
}


.sent-message {
    float: left;
    width: (130rem / $piece);
    height: (37rem / $piece);
    padding: (6rem / $piece) (6rem / $piece);
    border: 0;
    border-radius: 4px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    font-size: (14rem / $piece);
    text-align: center;
    line-height: (22rem / $piece);
    letter-spacing: normal;
    word-spacing: normal;

}


/* 版权 */
.footer-copyright {
    float: left;
    width: 100%;
    background-color: #292929;

    .container {
        padding: 0 (28rem / $piece);
        

        p{
            width: 100%;
            margin-bottom: (12rem / $piece);
            text-align: center;
            color: #5e5e5e;
            font-size: (15rem / $piece);
        }

        small{
            font-size: (13rem / $piece);
            color: #5e5e5e;
            text-align: center;
        }
    }
}

.copyright-content{
    width: 100%;
    height: (260rem / $piece);
    padding-top: (45rem / $piece);
}

.copyright-menu{
    width: 100%;
    height: (27rem / $piece);
    margin-bottom: (12rem / $piece);
    color: #5e5e5e;
    text-align: center;
    line-height: (30rem / $piece);

    a{
        font-size: (16rem / $piece);
        color: #5e5e5e;
    }
}


.nobottommargin{
   margin-top: (50rem / $piece); 
   line-height: (30rem / $piece);
}



