@charset "UTF-8";
@media screen and (width: 320px) {
  html {
    font-size: 16px;
  }
}

@media screen and (width: 360px) {
  html {
    font-size: 18px;
  }
}

@media screen and (width: 375px) {
  html {
    font-size: 18.75px;
  }
}

@media screen and (width: 411px) {
  html {
    font-size: 20.55px;
  }
}

@media screen and (width: 1536px) {
  html {
    font-size: 76.8px;
  }
}

/*  头部  */
header {
  float: left;
  width: 100%;
  height: 2.25rem;
  border-bottom: 1px solid #eeeeee;
}

.header-left {
  float: left;
  width: 33%;
  height: 100%;
  border-right: 1px solid #eeeeee;
}

.header-left i {
  float: right;
  line-height: 2.5rem;
  color: #666666;
  margin-right: 0.75rem;
  font-size: 0.65rem;
}

.header-center {
  float: left;
  width: 27%;
  height: 100%;
  border-right: 1px solid #eeeeee;
  text-align: center;
  line-height: 2.5rem;
  font-size: 0.65rem;
}

.header-center a,
.header-center span {
  font-size: 0.65rem;
  font-weight: bold;
  color: #666666;
}

/* 登录菜单 */
.login {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  padding: 0 0.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  float: right;
  width: 2.25rem;
  height: 2.25rem;
  border: 0px;
  font-style: normal;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: initial;
  opacity: .65;
  font-family: Arial, Baskerville, monospace;
  color: #b9b9b9;
}

.login-content {
  float: left;
  width: 17.3rem;
  height: 29rem;
  background-color: #fff;
  padding: 0.4rem 1.65rem 0.4rem 0.85rem;
  margin: auto;
  border-radius: 8px;
  margin: 1.5rem 1rem 0;
}

.login-title {
  width: 100%;
  height: 3rem;
  padding: 0.6rem 0 0.6rem 1.1rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
  color: #666;
}

.login-title i {
  margin-left: -1rem;
  margin-right: 0.25rem;
}

.login-container {
  width: 100%;
  height: 22.5rem;
  padding-left: 1.1rem;
  padding-bottom: 0.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-container .username {
  float: left;
  width: 100%;
  height: 4.25rem;
  margin-bottom: 0.6rem;
}

.login-container .username label {
  display: inline-block;
  font-size: 0.7rem;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #555;
  margin-bottom: 0.6rem;
  cursor: pointer;
}

.login-container .login-input-username {
  width: 100%;
  height: 2rem;
  padding: 0.35rem 0.65rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #ffffff;
}

.password {
  float: left;
  width: 100%;
  height: 4.25rem;
  margin-bottom: 0.6rem;
}

.password label {
  display: inline-block;
  font-size: 0.7rem;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #555;
  margin-bottom: 0.6rem;
  cursor: pointer;
}

.password .login-password {
  width: 100%;
  height: 2rem;
  padding: 0.35rem 0.65rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.verification-code {
  float: left;
  width: 100%;
  height: 4.25rem;
  margin-bottom: 0.6rem;
  text-align: center;
}

.verification-code img {
  width: 6.25rem;
  height: 1.65rem;
}

.verification-code .login-code {
  width: 100%;
  height: 2rem;
  padding: 0.35rem 0.65rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.checkbox {
  float: left;
  width: 100%;
  height: 1.25rem;
  margin: 0.6rem 0;
}

.checkbox label {
  position: relative;
  float: left;
  display: block;
  width: 4rem;
  height: 1.1rem;
  padding-left: 1.1rem;
  font-size: 0.75rem;
}

.checkbox label #remember-me {
  position: absolute;
  bottom: 25%;
  margin-left: -1.1rem;
  width: 0.85rem;
  height: 0.85rem;
  background-color: initial;
  margin-right: 0.3rem;
  border: 1px solid #b1b1b1;
}

.login-in {
  position: relative;
  float: left;
  width: 100%;
  height: 1.8rem;
  margin-bottom: 1rem;
}

.login-in button {
  height: 1.8rem;
  padding: 0 1.25rem;
  background-color: #59BA41;
  font-size: 0.7rem;
  font-weight: bold;
  color: #fff;
  line-height: 0.5rem;
  border: 0px;
  border-radius: 3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin-right: 0.5rem;
}

.login-in a {
  font-size: 0.7rem;
  position: absolute;
  top: 0;
  color: #0f8fcf;
}

.login-link-icon {
  float: left;
  width: 100%;
  height: 1.9rem;
  padding: 0 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-link-icon i {
  float: left;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  color: #555555;
  text-align: center;
  line-height: 1.6rem;
  border: 1px solid #bebebe;
  margin-right: 0.25rem;
}

.register {
  float: left;
  width: 13.25rem;
  height: 2.5rem;
  padding: 0.6rem 0 0.6rem 1.1rem;
  border-top: 1px solid #fcfcfc;
  font-size: 0.8rem;
  font-weight: bold;
  color: #555;
  line-height: 1.35rem;
}

.register i {
  margin-left: -1rem;
  margin-right: 0.25rem;
}

.header-right {
  float: left;
  line-height: 2.25rem;
}

.header-right .header-right-content {
  position: relative;
  width: 4.25rem;
  height: 2.25rem;
  border-bottom: 1px solid #eeeeee;
}

.header-right .header-right-content img {
  float: left;
  width: 0.8rem;
  height: 0.75rem;
  margin: 0.85rem 0.35rem 0 0.75rem;
}

.header-right .header-right-content span {
  font: 12px/1.14 arial, "Microsoft YaHei";
  color: #666666;
  font-weight: bold;
}

.header-right .header-right-content i {
  font-weight: bold;
}

.content-language {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 1px solid #0088cc;
  background-color: #fff;
  z-index: 2;
}

.content-language li {
  width: 7.85rem;
  height: 2.2rem;
  border-left: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.content-language li img {
  width: 0.8rem;
  height: 0.75rem;
  margin: 0 0.5rem;
}

.content-language li span {
  display: inline-block;
  padding-top: 0.85rem;
  color: #666666;
}

/*  导航栏  */
nav {
  position: relative;
  float: left;
  width: 100%;
  height: 2.75rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-left {
  float: left;
  width: 2.2rem;
  height: 2.75rem;
  text-align: center;
  line-height: 2.75rem;
  font-size: 0.75rem;
}

.nav-center {
  position: absolute;
  float: left;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 2.75rem;
  width: 7.25rem;
  z-index: 1;
}

.nav-center a img {
  width: 7.25rem;
  height: 2.5rem;
}

.nav-right {
  float: right;
  width: 2.2rem;
  height: 2.75rem;
  text-align: center;
  line-height: 2.75rem;
  font-size: 0.75rem;
  z-index: 1;
}

.nav-right .icon-line-cross {
  display: none;
}

.nav-right .search {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.6rem 4rem 0.6rem 0;
  width: 16.75rem;
  height: 2.75rem;
  background-color: transparent;
  color: #333;
  font-weight: 700;
  margin-top: 0 !important;
  font-family: Raleway, sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  margin-left: 0.85rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0px;
}

.nav-list {
  display: none;
  float: left;
  width: 100%;
  height: 10.4rem;
  padding: 0 1.35rem;
  margin: 0;
  top: 100%;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
}

.nav-list li {
  width: 100%;
  height: 2.6rem;
  border-bottom: 1px solid #eeeeee;
}

.nav-list li a {
  font-size: 0.9rem;
  padding-left: 0.35rem;
  color: #444;
  line-height: 2.6rem;
  font-family: Raleway, sans-serif;
  font-weight: bold;
}

.nav-list li i {
  float: right;
  padding-right: 0.75rem;
  line-height: 2.6rem;
  font-size: 0.9rem;
  font-weight: bold;
}

/* 轮播图  */
.swiper-container {
  float: left;
  width: 100%;
  height: 9.1rem;
}

.swiper-container .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 9.6rem;
}

.swiper-container .swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.swiper-container .swiper-pagination-bullet {
  background-color: #ffffff;
}

.swiper-container .swiper-button-prev {
  color: #d6dfe2;
}

.swiper-container .swiper-button-next {
  color: #d6dfe2;
}

/*  主体  */
main {
  float: left;
  width: 100%;
  padding: 1.65rem 0 5rem;
  background-color: #f4f4f4;
}

main .main-container {
  float: left;
  height: 100%;
  padding: 0 1.4rem;
}

.subject-link {
  float: left;
  width: 100%;
  margin-bottom: 1.65rem;
  text-align: center;
}

.subject-content {
  float: left;
  width: 100%;
  height: 12rem;
}

.subject-content img {
  width: 100%;
  height: 9.25rem;
}

.subject-content h3 {
  margin: 0;
  width: 100%;
  height: 1.85rem;
  padding: 0.3rem 0.55rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9rem;
  color: #444;
  font-weight: bold;
  background-color: #ffffff;
}

/*  尾部  */
footer {
  float: left;
  width: 100%;
  background-color: #333333;
  border-top: 5px solid #292929;
}

footer .container {
  padding: 0 1.4rem;
}

.content {
  width: 100%;
  height: 77.5rem;
  padding: 4.15rem 0;
}

.content .footer-logo {
  width: 6.7rem;
  height: 2.7rem;
  margin-bottom: 1.65rem;
}

.footer-nav {
  color: #a6a6a6;
  font-size: 0.75rem;
  margin-bottom: 1.65rem;
}

.link-icon {
  width: 100%;
  height: 1.9rem;
}

.link-icon i {
  float: left;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  color: #dddddd;
  text-align: center;
  line-height: 1.6rem;
  border: 1px solid #b5b5b5;
  margin-right: 0.25rem;
}

.serverId {
  width: 100%;
  height: 2.2rem;
  margin-bottom: 2rem;
  color: #777777;
  line-height: 3.1rem;
  font-size: 0.65rem;
}

.attentionUs {
  float: left;
  width: 100%;
  height: 1.25rem;
  color: #dddddd;
  font-size: 0.85rem;
  letter-spacing: 2;
  font-weight: bold;
  margin-bottom: 1.4rem;
  font-family: PingFang SC, Lantinghei SC, OpenSans-Light, Arial, Hiragino Sans GB, Microsoft YaHei, STHeiti, WenQuanYi Micro Hei, SimSun, sans-serif;
}

.qr-code {
  position: relative;
  float: left;
  width: 100%;
  height: 7.5rem;
  text-align: center;
  margin-bottom: 2.15rem;
}

.qr-code img {
  width: 5.9rem;
  height: 5.9rem;
  padding: 0.55rem;
}

.qr-code span {
  position: absolute;
  bottom: 5%;
  left: 28%;
  display: inline-block;
  font-size: 0.65rem;
  color: #a2a2a2;
  font-family: PingFang SC, Lantinghei SC, OpenSans-Light, Arial, Hiragino Sans GB, Microsoft YaHei, STHeiti, WenQuanYi Micro Hei, SimSun, sans-serif;
}

.footer-nav-content {
  float: left;
  width: 100%;
  height: 11.75rem;
  margin-bottom: 3rem;
}

.footer-nav-content li {
  height: 1.5rem;
  padding: 0.25rem;
  background-image: url(../img/widget-link-dark@2x.png);
  background-repeat: no-repeat;
  font-size: 0.8rem;
  color: #cccccc;
  line-height: 1.7rem;
}

.call-we {
  float: left;
  width: 100%;
  height: 2.1rem;
  margin-bottom: 1.65rem;
  color: #adadad;
}

.username {
  float: left;
  width: 100%;
  height: 1.85rem;
  margin-bottom: 0.6rem;
}

.username span {
  float: left;
  padding: 0.5rem 0.6rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #212121;
}

.username span i {
  color: #999999;
  font-size: 0.8rem;
}

.username input {
  float: left;
  width: 88%;
  height: 1.85rem;
  padding: 0.3rem 0.6rem;
  color: #999;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #1e1e1e;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.email {
  float: left;
  width: 100%;
  height: 1.85rem;
  margin-bottom: 0.6rem;
}

.email span {
  float: left;
  padding: 0.5rem 0.6rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #212121;
}

.email span i {
  color: #999999;
  font-size: 0.8rem;
}

.email input {
  float: left;
  width: 88%;
  height: 1.85rem;
  padding: 0.3rem 0.6rem;
  color: #999;
  background-color: #292929;
  border: 1px solid #1e1e1e;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.message {
  display: block;
  width: 100%;
  height: 4.35rem;
  padding: 0.3rem 0.6rem;
  margin-bottom: 0.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #1e1e1e;
  color: #999;
  background-color: #292929;
  border-radius: 4px;
}

.sent-message {
  float: left;
  width: 4.4rem;
  height: 1.85rem;
  padding: 0.3rem 0.3rem;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.1rem;
  letter-spacing: normal;
  word-spacing: normal;
}

/* 版权 */
.footer-copyright {
  float: left;
  width: 100%;
  background-color: #292929;
}

.footer-copyright .container {
  padding: 0 1.4rem;
}

.footer-copyright .container p {
  width: 100%;
  margin-bottom: 0.6rem;
  text-align: center;
  color: #5e5e5e;
  font-size: 0.75rem;
}

.footer-copyright .container small {
  font-size: 0.65rem;
  color: #5e5e5e;
  text-align: center;
}

.copyright-content {
  width: 100%;
  height: 13rem;
  padding-top: 2.25rem;
}

.copyright-menu {
  width: 100%;
  height: 1.35rem;
  margin-bottom: 0.6rem;
  color: #5e5e5e;
}

.copyright-menu a {
  font-size: 0.8rem;
  color: #5e5e5e;
}
/*# sourceMappingURL=subject.css.map */